body {
    background-color: black;
}
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}
.shadow {
    text-shadow: 5px 2px 4px darkred;
}
.task_bar {
    overflow: hidden;
    background-color: red;
}
.task_bar a {
    float: left;
    color: darkred;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.task_bar a:hover {
    background-color: darkgray;
    color: darkred;
}
.task_bar_active {
    background-color: grey;
    color: darkred;

}
.task_bar a {
    font-weight: bolder;
}