body {
    background-color: black;
}
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}
.shadow {
    text-shadow: 5px 2px 4px darkred;
}
.Top_bar {
    color: red;
}